@*@model AdvertisedOn.Models.Business*@

 <div class="ad">
    <div class="logo">
        <img src="~/images/logos/logo_temp01.png" style="height: 100px; width: 100px;">
	</div>
	<div class="offer">
	    <p>$30 off order of
		 $150 or more</p>
	</div>
	<div class="info">
	    <a href="#">Company Info</a>
	</div>
	<div class="details">
	    <a href="#" class="button">Details</a>
	</div>
	<div class="id">
	    <p>ID# 134673</p>
	</div>
	<div class="area">
	    <p>Serving Your Area</p>
	</div>
</div>