@charset "UTF-8";
ul.dropdown {
	float:left;
	position:relative;
	width:100%;
	z-index:597
}
ul.dropdown li {
	float:left;
	line-height:1.3em;
	vertical-align:middle
}
ul.dropdown li.hover, ul.dropdown li:hover {
	cursor:default;
	position:relative;
	z-index:599
}
ul.dropdown li:hover > ul {
	visibility:visible
}
ul.dropdown ul {
	left:0;
	position:absolute;
	top:100%;
	visibility:hidden;
	width:100%;
	z-index:598
}
ul.dropdown ul li {
	float:none
}
ul.dropdown ul ul {
	left:99%;
	top:1px
}
ul.dropdown, ul.dropdown li, ul.dropdown ul {
	list-style:none;
	margin:0;
	padding:0
}
ul.dropdown {
	margin:0 0 0 14px
}
ul.dropdown *.dir {
	background-image:none;
	background-position:100% 50%;
	background-repeat:no-repeat;
	padding-right:10px
}
/* roll over menu color */
ul.dropdown a:hover {
	background-color:#0099CC;
	/*border-left-color:#CCCCCC;*/
	/*border-top-color:#CCCCCC */
	!important;
}
/* non drop down text color */
ul.dropdown a:link, ul.dropdown a:visited {
	font-weight: 100;
	color:#FFF;
	text-decoration:none;
}
/* normal color of menu */
ul.dropdown li {
	/*background-color:#0281cf;*/
	color:#FFF;
	padding:5px
}
/* submenu color */
ul.dropdown ul li {
	background-color:#0281cf;
}
ul.dropdown li a, ul.dropdown *.dir {
	border-color:#cccccc #cccccc #cccccc #cccccc;
	border-style:solid;
	border-width:1px
}
ul.dropdown ul {
	border:solid 1px #CCCCCC;
	border-top:1px solid #CCCCCC;
	font:bold 11px/1em Arial, Tahoma, Geneva, Verdana, sans-serif;
	left:0;
	margin-top:-1px;
	right:auto;
	width:150px
}
ul.dropdown ul *.dir {
	background-position:100% 50%;
	background-repeat:no-repeat;
	padding-right:10px
}
ul.dropdown ul li a, ul.dropdown ul *.dir {
	border-color:#cccccc #cccccc #cccccc;
	border-left:none
}
ul.dropdown *.dir {
	padding:5px 25px
}
ul.dropdown *.open {
	background-color:#666
}
ul.dropdown a, ul.dropdown span {
	display:block;
	padding:5px 20px
}
ul.dropdown li {
	padding:0
}
ul.dropdown ul *.dir {
	padding:8px 20px 8px 8px
}
ul.dropdown ul a {
	width:133px
}
ul.dropdown ul a, ul.dropdown ul span {
	padding:8px
}
ul.dropdown ul a.dir {
	width:111px
}
