html {

}
body {
	background-image:url(../../images/foggy_window_repair_background.jpg);
	background-repeat:no-repeat;
	margin: 0px;
	padding: 0px;
	height: 70%;
	font-family: Helvetica, Georgia, "Times New Roman", serif;
    font-weight: 300;
	font-size:16px;
	text-align:left;
}

/* main container */
.wrapper { 
	width:950px;
	margin:0 auto -4em;
	color: #333;
	min-height:auto;
	overflow: hidden;
	border:2px solid #333333;
	background:#ffffff;	
	border-top: 0px;	
}  
/* main container */
.invisWrapper { 
	width:954px;	
	margin:0 auto -4em;
	min-height:auto;
	margin-top: 15px;
	overflow: hidden;
}  
.roundWrapper { 
	width:1110px;
	margin:0 auto -4em;
	padding: 5px;
	background:#FFFFFF;
	color: #333;
	min-height:auto;
	overflow: hidden; 
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
	-moz-background-clip: padding; /* for Mozilla browsers*/
	-webkit-background-clip: padding;   /* Webkit */
	background-clip: padding-box; /*  browsers with full support */
	border:2px solid #999999;
}  

.menucontainer { 
	margin: 0;
	top: 132px;
	left: 50%;
	margin-left: -472px;
	position:absolute;
	z-index: 500;
}  

.header {
	width:100%;
	background-position:right;
	background-repeat:no-repeat;	
	padding: 0px;
	margin: 0px;
}
 
p {
	padding: 0px 15px 0px 15px;
	}

 
.blueGradBox {
	padding: 15px 15px 15px 15px;
	margin:12px 15px 15px 0px; /* change first value for height */
	background:#EBEBEB;
	color:#4e4e4e;
	background-image: -webkit-gradient( linear,    left bottom,    left top,    color-stop(0, rgb(201,219,224)),    color-stop(1, rgb(247,247,247)));
	background-image: -moz-linear-gradient(    center bottom,    rgb(201,219,224) 0%,    rgb(247,247,247) 100%);
	border: 1px #999 solid;
	text-align:left;
		box-shadow: 0 5px 5px -3px black;
}  

.yellowGradBox {
	padding: 15px 15px 15px 15px;
	margin:15px 15px 15px 0px;
	background:#fcf880;
	color:#4e4e4e;
	box-shadow: 0 5px 5px -3px black;
	border: solid 1px;
	border-color:#666;
	background-image: -webkit-gradient(    linear,    left bottom,    left top,    color-stop(0, rgb(252,248,128)),    color-stop(1, rgb(252,252,234)));
	background-image: -moz-linear-gradient(    center bottom,    rgb(252,248,128) 0%,    rgb(252,252,234) 100%);
	text-align:left;
}  

.couponBox {
	padding: 15px 5px 0px 15px;
	margin:0px;
	background:#FFFAD5;
	border: 1px dashed #333;
	font-size: 12px;
	color:#333;
	background-repeat:no-repeat;
	text-align:left;
	
}  

.couponBox1 {
	padding: 15px 5px 0px 15px;
	margin:0px;
	background:#FFFAD5;
	border: 1px dashed #333;
	font-size: 12px;
	color:#333;
	background-repeat:no-repeat;
	text-align:left;
}  

.padded {
	text-align: left;
	margin-top: 10px;
	margin-left: 10px; 
	margin-bottom: 10px;
	margin-right: 10px;
	font-size: 14px;
	background:#5c5d57;
	color:#fffbcb;
}

.minorPadded {
	text-align: left;
	margin-top: 100px;
	margin-left: 20px; 
	margin-bottom: 20px;
	margin-right: 10px;
	background:#FFFFFF;
}
.minorPadded1 {
	text-align: left;
	margin-top: 100px;
	margin-left: 20px; 
	margin-bottom: 20px;
	margin-right: 10px;
}
.imageRightPadded {
	text-align: left;
	margin-top: 20px;
	margin-left: 0px; 
	margin-bottom: 20px;
	margin-right: 15px;
	padding: 10px;
	background:#ffffff;
	border: 1px solid #615845;
}
.paddedTanBox {
	text-align: left;
	margin-top: 20px;
	margin-left: 20px; 
	margin-bottom: 10px;
	margin-right: 10px;
	background:#FFFAD5;
	color: #333333;
	font-size:14px;
	border: #60513e 1px solid;
}
.paddedBlueBox {
	text-align: left;
	margin-top: 20px;
	margin-left: 20px; 
	margin-bottom: 10px;
	margin-right: 10px;
	background:#FFFFFF;
	color: #e4e2ce;
	font-size:14px;
	border: #60513e 1px solid;
}



.minorPaddedCenter {
	text-align: center;
	margin-top: 20px;
	margin-left: 10px; 
	margin-bottom: 20px;
}
.img1 {
   border:2px solid #333333;
   padding: 10px;
   background: #ffffff;
   
}

.banner {
	background-image:url(../../images/bannerbkgd.png);
}

.roundedBox {
	left: 50%;
	margin:10px 10px 10px 14px;
	padding: 10px 10px 10px 16px;
	width:615px;
	color:#686868;
	border:7px solid rgba(207, 169, 67, 0.4);
	opacity: 1;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
	-moz-background-clip: padding; /* for Mozilla browsers*/
	-webkit-background-clip: padding;   /* Webkit */
	background-clip: padding-box; /*  browsers with full support */
}  


/* ---------------------------------------------------------------- */
/* ----------------------- TEXT AND HEADERS ----------------------- */
/* ---------------------------------------------------------------- */

h1 { 
	color:#990000;
	font-weight:bold;
	font-size:26px;
	margin: 0;
	top: 190px;
	left: 50%;
	margin-left: -470px;
	position:absolute;
	padding-left:15px;
	margin-bottom:10px;
	text-decoration:underline;
	z-index:500;
}

h2 {
	color:#333333;
	font-weight:bold;
	font-size:18px;
	margin-bottom:10px;
	padding-left:15px;
	text-align:left;
	margin: 0;
	top: 225px;
	position:absolute;
	left: 50%;
	margin-left: -470px;
	z-index:200;
}

h3 {
	color:#504225;
	font-weight:bold;
	font-size:20px;
	margin: 0;
	text-align:left;
	text-decoration:underline;
	margin-bottom:10px;
}

h4 {
	color:#900;
	font-weight:bold;
	font-size:14px;
	margin: 0;
	text-align:left;
	margin-left:10px;
	margin-bottom:10px;
}

h5 {
  color:#aaa;
  font-size:16px;
  margin-top:16px;
}

h6 {
	color:#990000;
	font-weight:bold;
	font-size:15px;
	margin:0;
	text-align:center;
}


/* ---------------------------------------------------------------- */
/* ----------------------- MISCELLANEOUS -------------------------- */
/* ---------------------------------------------------------------- */

.slideshow { text-align: center;margin-left: 0px; margin-right: 15px;top: -25px;position:relative;}
input {width: 280px;margin-bottom: 5px;padding: 3px;font-size: 16px;font-family:Arial, Helvetica, sans-serif;border: 1px solid #000000;}
textarea{width: 400px;height: 100px;padding: 3px;font-size: 16px;font-family:Arial, Helvetica, sans-serif;}
.boxes{width: 1em;}
br{clear: left;}
input:hover, textarea:hover { background: #CAEDFF;}


/* ----- Footer ----- */

.footer {
  background: url(/images/nav_footer_back.png) top;
  width:954px;
  height:187px;
  margin:0;
}
.footer h5 {
  color:#FFFF00;
  font-size:14px;
  margin-top:14px;
}
.footer ul {
  list-style:none;
  margin:0
}
.footer ul li {
  font-size:10px;
  font-weight:700;
  padding-left:8px;
  padding-bottom: 0;
  background:    url(/images/footer_bullet.png) 0px 6px no-repeat;
}
.footer-d ul li {
  padding-left:0;
  background:none;
  margin-top:16px;
}
.footer-a, .footer-b, .footer-c, .footer-d {
  float:left;
  margin-right:30px;
}
.footer-a {
  margin-left:20px;
  width:190px;
}
.footer-b {
  margin-left: 00px;
  width:170px;
}
.footer-c {
  margin-left: 40px;
  width:170px;
}
.footer-d {
  width:240px;
  color:#FFFF00;
}
.footer a:link, .footer a:visited {
  color:#990000;
}
.footer a:hover {
  text-decoration:none;
  color:#CC0000;
}
.footer-icon {
  opacity:0.7;
  margin-bottom:-4px;
}
.footer a:hover .footer-icon {
  opacity:1;
}
.footer-icon-rss {
  float:left;
  margin-right:1em;
  margin-bottom:10px;
  margin-top:4px;
}
.copyright {
  text-align:right;
  color:#777;
  padding:8px 0;
  font-size:10px;
}