body {
	background-image:url(http://advertisedon.com/assets/img/side-bkgd4.gif);
	font-family: 'Karla';
	font-size:16px;
	font-weight:300;
	height:70%;
	margin:0;
	padding:0;
	text-align:left
}
.menucontainer {
	left:50%;
	margin:0 0 0 -486px;
	position:absolute;
	top:87px;
	z-index:500
}
#submitbutton {
	margin-top:5px;
	width:90px
}
.blueGradBox {
	background:#EBEBEB;
	border:1px #999 solid;
	color:#4e4e4e;
	font-size:12px;
	margin:5px;
	padding:15px
}
.boxes {
	width:1em
}
.copyright {
	color:#777;
	font-size:10px;
	padding:8px 0;
	text-align:right
}
.couponBox {
	background:#ccc79e;
	background-repeat:no-repeat;
	border:1px dotted #333;
	color:#333;
	font-size:12px;
	margin:0;
	padding:15px 5px 0 15px;
	text-align:left;
	width:208px
}
.couponBox1 {
	background:#FFFFEA;
	border:1px dotted #333;
	color:#003;
	font-size:12px;
	margin:0;
	padding:5px
}
.couponBox2 {
	background:#FFD;
	border:1px dotted #333;
	color:#003;
	font-size:12px;
	margin:0;
	padding:15px 5px 0 15px
}
/** -------------------------------------------------------------------------------------------------------------------------------------------
                                                         <-------- HEADER --------->
------------------------------------------------------------------------------------------------------------------------------------------- **/
.header1 {
	background:#373737;
	background-image: url(http://advertisedon.com/assets/img/bg-header.png);
	height:120px;
	min-width:990px;
	text-align:top;
}
.headerLogo1 {
	left:50%;
	margin:0 0 0 -486px;
	position:absolute;
	top:0;
	z-index:500;
	margin-top: -10px;
}
.headerTopRight {
	margin:0 -486px 0 0;
	position:absolute;
	right:50%;
	text-align:right;
	top:0;
	z-index:500
}
/** -------------------------------------------------------------------------------------------------------------------------------------------
                                                         <-------- FOOTER --------->
------------------------------------------------------------------------------------------------------------------------------------------- **/
.topInvisBackground {
	background:url(http://advertisedon.com/assets/img/bg-footer_top.png);
	margin:16px auto -4em;
	overflow:hidden;
	width:100%;
}
.topFooter {
	background:url(http://advertisedon.com/assets/img/bg-footer_top.png);
	height:185px;
	margin-top:0;
	min-width:990px;
	overflow:hidden;
	font-size:14px;
	color: #fff;
}
.invisBackground {
	background:url(http://advertisedon.com/assets/img/bg-footer.png);
	margin:16px auto -4em;
	overflow:hidden;
	width:100%;
}
.footer {
	background:url(http://advertisedon.com/assets/img/bg-footer.png);
	height:100%;
	margin-top:0;
	min-width:990px;
	overflow:hidden;
	font-size:12px;
	color: #fff;
}
.footer a:hover {
	color:#fff;
	text-decoration:none
}
.footer a:link, .footer a:visited {
	color:#ccc;
	text-decoration: none;
}
.footer h5 {
	color:#FFFFFF;
	font-size:16px;
	padding-left: 27px;
	text-decoration:underline;
}
.footer ul {
	list-style:none;
	margin:0
}
.footer ul li {
	background:url(/images/footer_bullet.png) 0 6px no-repeat;
	font-size:13px;
	font-weight:100;
	padding-bottom:0;
	color: #CCC;
	padding-left:10px;
	text-decoration: none;
}
.footer-spacer {
	margin-left:20px;
	width:40px;
}
.footer-a {
	margin-left:60px;
	width:160px;
	float:left;
	margin-right:30px
}
.footer-b {
	margin-left:80px;
	width:245px;
	float:left;
	margin-right:00px
}
.footer-c {
	margin-left:10px;
	width:245px;
	float:left;
	margin-right:00px
}
.footer-d {
	margin-left:0px;
	width:170px;
	float:left;
	margin-right:30px
}
.imageLeftPadded {
	background:#fff;
	border:1px solid #999999;
	margin:20px 0 20px 20px;
	padding:10px;
	font-size: 12px;
}
.imageLeftPadded1 {
	background:#FFFFCE;
	border:1px solid #615845;
	margin:20px 0 20px 20px;
	padding:10px
}
.imageRightPadded {
	background:#fff;
	border:1px solid #999999;
	font-size:12px;
	margin:20px 15px 20px 0;
	padding:10px
}
.img1 {
	background:#fff;
	border:1px solid #333;
	margin:10px;
	padding:10px
}
.img2 {
	border:1px solid #333
}
.img3 {
	background:#fff;
	border:1px solid #666;
	padding:0px;
	margin-bottom: 10px;
}
.img4 {
	background:#fff;
	border:1px solid #666;
	padding:0px;
	margin: 20px;
}
.img5 {
	border:1px #999 solid;
	margin:5px 5px 5px 10px;
	padding:5px
}
.img6 {
	border:1px #000 solid;
	margin:5px 10px 5px 15px;
	padding:10px
}
.inputGoogle {
	border:1px solid #000;
	font-size:16px;
	margin-bottom:5px;
	padding:3px;
	width:200px
}
.invisWrapper {
	background:url(http://advertisedon.com/assets/img/bg-footer.png);
	margin:0 auto -4em;
	overflow:hidden;
	width:1090px
}
.ip1 {
	font-size:16px;
	margin-bottom:5px;
	padding:3px;
	width:400px
}
.minorPadded {
	background:#FFF;
	margin:100px 10px 20px 20px
}
.minorPadded1 {
	margin:96px 10px 20px 20px
}
.minorPaddedCenter {
	margin-left:0;
	text-align:left
}
.paddedBlueBox {
	background:#FEFCE2;
	border:#60513e 1px dashed;
	color:#000;
	font-size:14px;
	margin:10px 10px 10px 10px;
	padding:5px;
	-moz-border-radius: 5px;
}
.paddedTanBox {
	background:#fff;
	border:#999999 1px solid;
	color:#333;
	font-size:14px;
	margin:20px 10px 10px 20px;
	padding: 10px;
}
.doubleBoxLeft {
	background:#fff;
	border:#999999 1px solid;
	color:#333;
	font-size:12px;
	margin:20px 0px 10px 20px;
	padding: 10px;
	padding-right: -10px;
	border-right: 0px;
}
.doubleBoxRight {
	background:#fff;
	border:#999999 1px solid;
	color:#333;
	font-size:12px;
	margin:20px 20px 10px 0px;
	padding: 10px;
	padding-left: 0px;
	border-left: 0px;
}
.paddedTanBox ul {
	margin-left:10px
}
.resultBox1 {
	height: 130px;
	background:#D9EFFF;
	border: 1px solid #fff;
	padding: 2px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
.resultBox1:hover {
	background:#C1E8FF;
	border: 1px solid #999;
	padding: 2px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
.selectb {
	border:1px solid #333;
	color:#000;
	font-size:16px;
	margin-bottom:0;
	padding:1px
}
.shDisplay {
	color:#333;
	font-size:24px;
	margin-right:10px;
	margin-top:10px;
	position:absolute;
	right:-3px;
	top:-10px
}
.shadow {
	margin-left: auto;
	margin-right: auto;
	background:url(../../css/images/shadow-bkg.png) repeat-y center 0;
	margin:0 auto;
	width:990px;
}
.slideshow {
	margin-left:0;
	margin-right:15px;
	text-align:center
}
.tb1 {
	font-size:16px;
	height:150px;
	padding:3px;
	width:400px
}
.tb2 {
	font-size:16px;
	padding:3px;
	width:240px
}
.wrapper {
	background:#FFF;
	border:1px solid #373737;
	border-bottom:0;
	border-top:0;
	color:#333;
	margin:0 auto -4em 22px;
	overflow:hidden;
	position:relative;
	width:990px;
	z-index:110
}
.yellowGradBox {
	background:#fcf880;
	border:solid 1px #666;
	border-color:#666;
	color:#000;
	font-size:12px;
	margin:5px;
	padding:15px
}
.zBox {
	background:#cc9;
	border:dashed 1px #666;
	border-top:0;
	color:#000;
	font-size:12px;
	margin:0;
	padding:5px
}
.zlock {
	background:#aba785;
	border:dashed 1px #666;
	color:#000;
	font-size:12px;
	font-weight:700;
	margin:10px 0 0;
	padding:.2em
}
blockquote {
	background:#D6D6AD;
	border-left:7px solid #039;
	color:#333;
	font:italic 24px 'Lobster', Georgia, "Times New Roman", Times, serif;
	margin:0 25px;
	padding:10px
}
br {
	clear:left
}
h1 {
	color:#003366;
	font-size:30px;
	font-weight:700;
}
h2 {
	color:#003366;
	font-size:22px;
	font-weight:700;
}
h3 {
	color:#003366;
	font-size:16px;
	font-weight:700;
	left:50%;
	margin:0 0 10px -450px;
	padding-left:15px;
}
h4 {
	color:#003366;
	font-size:18px;
	font-weight:700;
	margin:1px;
	text-align:left;
	text-decoration:underline;
}
h5 {
	color:#003366;
	font-size:16px;
	margin:0;
	text-align:left
}
h6 {
	color:#003366;
	font-size:16px;
	font-weight:700;
	margin:0;
	padding:1px
}
h7 {
	color:#003366;
	font-size:16px;
	font-weight:700;
	margin-left:3px;
	padding: 10px;
}
h8 {
	color:#003366;
	font-size:24px;
	font-weight:700;
	margin-bottom:10px;
	margin-left:0px;
	text-align:left;
}
.headerSubmit {
	width:80px;
	border: 0px #333 solid;
}
.info, .success, .warning, .error, .validation {
	font-size:13px;
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 20px 15px 60px;
	background-repeat: no-repeat;
	background-position: 10px center;
}
.adverts {
	background:#fff000;
	border:1px dashed #333;
	margin: 10px 0px 10px 13px;
	padding:10px;
	border-radius: 5px;
	vertical-align:top;
	display:block;
}
.loginStyle {
	color:#00FF00;
	font-weight:bold;
	font-size:13px;
	text-decoration:none;
	letter-spacing: 1px;
}
.headerLinks {
	color:#CCCCCC;
	font-weight:bold;
	font-size:13px;
	text-decoration:none;
	letter-spacing: 1px;
}
.learnMore {
	color:#00FF00;
	font-size:13px;
	letter-spacing: 1px;
	width:200px;
	height:20px;
}
